# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Local Environment Variables
.env
.env.local
.env.production
server/.env
client/.env

# Build outputs
dist/
client/dist/
server/public/

# Editor / System files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
